<h2 class="md-subheader">Column Properties</h2>
<fieldset>
  <label>
    <span>Stationary Phase</span>
    <br />
    <select>
      <option>Agilent Zorbax SB-C18</option>
    </select>
  </label>
  <md-input-container>
    <label>Length (mm)</label>
    <input type="number" step="0.1" ng-model="ctrl.simulator.column.length" />
  </md-input-container>
  <md-input-container>
    <label>Inner Diameter (mm)</label>
    <input type="number" step="0.1" ng-model="ctrl.simulator.column.diameter" />
  </md-input-container>
  <md-input-container>
    <label>Particle Size (&mu;m)</label>
    <input type="number" step="0.1" ng-model="ctrl.simulator.column.particleSize" />
  </md-input-container>
  <md-input-container>
    <label>Interparticle Porosity</label>
    <input type="number" step="0.1" ng-model="ctrl.simulator.column.interparticlePorosity" />
  </md-input-container>
  <md-input-container>
    <label>Intraparticle Porosity</label>
    <input type="number" step="0.1" ng-model="ctrl.simulator.column.intraparticlePorosity" />
  </md-input-container>
  <md-input-container>
    <label>Total Porosity</label>
    <input readonly tabindex="-1" ng-model="ctrl.simulator.column.totalPorosity" />
  </md-input-container>
  <md-input-container>
    <label>Void volume (mL)</label>
    <input readonly tabindex="-1" ng-model="ctrl.simulator.column.voidVolume" />
  </md-input-container>
  <fieldset>
    <legend>Reduced Van Deemter&hellip;</legend>
    <md-input-container>
      <label>A</label>
      <input type="number" step="0.1" ng-model="ctrl.simulator.column.vanDeemterA" />
    </md-input-container>
    <md-input-container>
      <label>B</label>
      <input type="number" step="0.1" ng-model="ctrl.simulator.column.vanDeemterB" />
    </md-input-container>
    <md-input-container>
      <label>C</label>
      <input type="number" step="0.01" ng-model="ctrl.simulator.column.vanDeemterC" />
    </md-input-container>
  </fieldset>
</fieldset>
