section h2.md-subheader {
  margin-bottom: 0;
  padding-bottom: 0;
}

section label {
  display: block;
  margin: 0.33em 0;
}

section p,
section fieldset {
  margin: 16px;
}

main {
  width: 100%;
}

.limited-width {
  max-width: 880px;
}

fieldset fieldset {
  margin: 2px;
  width: 90%;
}

table.compounds {
  border: 2px solid black;
  margin: 16px;
  border-collapse: collapse;
}

table.compounds th,
table.compounds td {
  border: 1px solid #303030;
  width: 12%;
  padding: 6px;
}

table.compounds th.name,
table.compounds td.name {
  width: 30%;
}

table.compounds th {
  border-bottom: 3px double #303030;
  vertical-align: bottom;
}
