header {
  padding: 0 16px;
}

body {
  overflow: hidden;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
}

section h2.md-subheader {
  margin-bottom: 0;
  padding-bottom: 0;
}

section label {
  display: block;
  margin: 0.33em 0;
}

section p,
section fieldset {
  margin: 16px;
}

fieldset fieldset {
  margin: 2px 2px 16px 2px;
}

li {
  margin-bottom: 1em;
}

table {
  border: 0;
  margin: 8px 4px 32px;
  border-collapse: collapse;
}

table th,
table td {
  border: 0;
  padding: 8px 16px;
  text-align: left;
  width: auto;
}

table.compounds th.name,
table.compounds td.name {
  width: 25%;
}

table.compounds th,
table.compounds td {
  width: 15%;
}

table th {
  font-weight: normal;
  vertical-align: bottom;
}

#home p {
  margin-left: 16px;
}

.chromatogram .chart {
  margin: 16px 16px 8px;
  width: 100%;
}

.chromatogram .chart .axis {
  stroke-width: 1px;
  stroke: #808080;
  fill: none;
}

.chromatogram .chart .axis text {
  fill: #808080;
  font-size: 0.6em;
}

.chromatogram .chart .line {
  stroke: #303030;
  stroke-width: 0.5px;
  fill: none;
  z-index: 1;
}

.chromatogram .chart .line.highlight {
  stroke-width: 3px;
  z-index: 5;
}

.chromatogram .chart .line.analyte.highlight {
  stroke-width: 2px;
  z-index: 5;
}

.chromatogram .chart .line.analyte {
  stroke-width: 0.5px;
  z-index: 1;
}

.chromatogram .chart .line.phenol {
  stroke: #ff0000;
}

.chromatogram .controls .phenol.md-button.md-default-theme.md-raised:not([disabled]) {
  background-color: #ff0000;
  color: white;
}

.chromatogram .controls .phenol.md-button.md-default-theme.md-raised:not([disabled]):focus,
.chromatogram .controls .phenol:hover {
  background-color: #dd0000;
}

.chromatogram .controls .analyte.md-button.md-default-theme.md-raised:not([disabled]) {
  background-color: #303030;
  color: white;
}

.chromatogram .controls .analyte.md-button.md-default-theme.md-raised:not([disabled]):focus,
.chromatogram .controls .analyte:hover {
  background-color: #101010;
}

.chromatogram .chart .line.phenylpropanol {
  stroke: #00aa00;
}

.chromatogram .chart .line.acetophenone {
  stroke: #0000ff;
}

.chromatogram .chart .line.pchlorophenol {
  stroke: #bbbb00;
}

.chromatogram .chart .line.pnitrotoluene {
  stroke: #ff00ff;
}

.chromatogram .controls {
  margin: 0px 8px 8px;
}

.chromatogram .controls button {
  margin: 8px;
}
